{% extends 'base.html.twig' %}

{% block title %}LeBonCoin{% endblock %}

{% block body %}
    <hr id="me" class="area-divider">

    <div  class="row area">
        <div class="col-xs-12 col-md-7">
            <h2 class="area-heading">Find a bargain...</h2>
            <h2 class="area-heading text-right mb-4"><span class="text-muted"> ...on <i class="orange">leboncoin</i></span></h2>
            <p class="lead text-center">
                <a href="">
                    <button type="button" class="btn btn-primary btn-lg">
                        <i class="fa fa-plus-square"></i> Place ad
                    </button>
                </a>
            </p>
            <p class="lead text-center">
            </p>

        </div>
        <div class="col-xs-12 col-md-5">
            <img class="img-fluid mx-auto" src="https://www.leboncoin.fr/img/map_france.png" alt="regions map">
        </div>
    </div>
{% endblock %}
