{% extends 'base.html.twig' %}

{% block title %}LeBonCoin{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p class="lead text-center">
            <form role="form" data-toggle="validator" action="{{ path('app_requests') }}" method="GET">
                {% include 'ad/search_form.html.twig' %}
            </form>
            </p>
        </div>
    </div>


    <hr class="area-divider mt-2">

    <div class="row area">
        {% for ad in ads %}
            {% include 'ad/_ad.html.twig' with {'ad': ad} %}
        {% endfor %}
    </div>

{% endblock %}